html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;   
}

body {
    padding: 20px;
    background-color: $ltGray;
    color: $black;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;

    @include breakpoint(desktop){
        padding: 1.5rem;
    } 
}

main {
    padding: 20px;
    background-color: $white;
    border-radius: 15px;
    max-width: 1200px;
    margin: 0 auto;

    @include breakpoint(desktop){
        
        padding: 1.5rem;
    }
    @include breakpoint(laptop){
        display: flex;
    }
}

.content {
    
    @include breakpoint(desktop){
        flex: 3;
    }
}

aside {

    @include breakpoint(desktop){
        flex: 1;
    }
}